* {
	margin: 0;
}
html, body {
	height: 100%;
}
/*основа*/
body {
	background: url(bg16x10.jpg) no-repeat center center fixed;
	background-size: cover;
	/*background: #ffffff;*/
	/*color: #222222;*/
	
}

@media only screen and (max-width : 1920px) {
	.site {
		width: 50%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 50% auto;
	}
}
@media only screen and (max-width : 1900px) {
	.site {
		width: 55%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 55% auto;
	}
}
@media only screen and (max-width : 1720px) {
	.site {
		width: 60%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 60% auto;
	}
}
@media only screen and (max-width : 1600px) {
	.site {
		width: 65%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 65% auto;
	}
}
@media only screen and (max-width : 1460px) {
	.site {
		width: 70%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 70% auto;
	}
}
@media only screen and (max-width : 1360px) {
	.site {
		width: 75%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 75% auto;
	}
}
@media only screen and (max-width : 1260px) {
	.site {
		width: 80%
	}
	.dws-menu > ul li a{
		font-size: 24px;
	}
	.footer {
		width: 80% auto;
	}
}
@media only screen and (max-width : 1180px) {
	.site {
		width: 80%
	}
	.dws-menu > ul li a{
		font-size: 22px;
	}
	.footer {
		width: 80% auto;
	}
}
@media only screen and (max-width : 1100px) {
	.site {
		width: 80%
	}
	.dws-menu > ul li a{
		font-size: 21px;
	}
	.footer {
		width: 80% auto;
	}
}
@media only screen and (max-width : 1030px) {
	.site {
		width: 80%
	}
	.dws-menu > ul li a{
		font-size: 20px;
	}
	.footer {
		width: 80% auto;
	}
}
@media only screen and (max-width : 1010px) {
	.site {
		width: 85%
	}
	.dws-menu > ul li a{
		font-size: 20px;
	}
	.footer {
		width: 85% auto;
	}
}

@media only screen and (max-width : 1010px) {
	.site {
		width: 85%;
	}
	.dws-menu > ul li a{
		font-size: 20px;
	}
	.footer {
		width: 85% auto;
	}
}
@media only screen and (max-width : 992px) {
	.site {
		width: 95%;
	}
	.dws-menu > ul li a{
		font-size: 20px;
	}
	.footer {
		width: 95% auto;
	}
}
.site {
	margin: 0 auto;
	height: 100%;
	/*width: 50%;*/
	opacity: 0.9;
	background: #ffffff;
	font-family: Calibri, sans-serif;
	display: flex;
	flex-direction: column;
}
.menu {
	height: 69px;
	width: 50% auto;
	background: #DAFF7FFF;
}

.content {
	flex-grow: 1;
}

.contentKuhnya {
	margin: 10px 0 10px 10px;
	height: 95%;
	overflow-x: hidden; 
	overflow-y: scroll;
}

.contentDikorosi {
	margin: 10px 0 10px 10px;
	height: 95%;
	overflow-x: hidden; 
	overflow-y: scroll;
}

/*главная страница. ввод новых данных*/
.enter {
	margin: 10px auto;
	height: 100%;
	width: 95%;
}

.textarea {
	height: 50%;
	width: 98.8%;
}

.btn-salat {
	background: #DAFF7FFF;
}
/*menu*/
.dws-menu *{
	max-width: 768px;
	margin: auto;
	padding: 0;
	font-family: Calibri;
}
.dws-menu ul,
.dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	justify-content: center;
}
.dws-menu > ul li a{
	display: block;
	background: #DAFF7FFF;
	padding: 15px 5px 15px 5px;
	/*font-size: 24px;*/
	color: blue;
	text-decoration: none;
	text-shadow:0 0 5px #00c6ff;
	/*border-radius: 16px;*/
}
.dws-menu > ul li{
	position: relative;
	z-index: 10
}
.dws-menu > ul li > a i.fa{
	position: relative;
	top: 15px;
	left: 12px;
	font-size: 18px;
}
.dws-menu > ul li:first-child{
	border-left: 0px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
	border-right: 0px solid #babbbb;
}
.dws-menu > ul li a:hover{
	color: black;
	background: white;
	/*opacity: 0.9;*/
}
/*sub-menu*/
.dws-menu li ul{
	position: absolute;
	min-width: 150px;
	display: none;
}
.dws-menu li > ul li a{
	padding: 10px;
	text-transform: none;
}
.dws-menu li:hover > ul{
	display: block;
}
.dws-menu li > ul li ul{
	position: absolute;
	right: -150px;
	top: 0
}
.footer {
	height: 59px;
	background: #DAFF7FFF;
}