:root {
	--d: #252525;
	--w: #ffffff;
	--b: #0039a6;
	--r: #d52b1e;
};



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}
body {
	margin: 0;
}

/*################################first-screen#########################*/

.first-screen {
	background-color: var(--d);
	width: 100%;

}

.first-screen-container {
	width: 1170px;
	height: 100vh;
	margin: 0 auto;
	background-color: var(--d);
	position: relative;
	/*display: flex;
	flex-direction: column;*/
	display: grid;
	grid-template-rows: 11%;
}

/*################################first-screen-MENU#########################*/

.bf-menu {
	background-color: var(--d);
	box-sizing: border-box;
	border: 10px solid white;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 8fr 3fr;
	align-items: center;
}

.bf-logo {
	width: 100%;
	height: 100%;
	background: url(img/small-logo.jpg) no-repeat center center;
	margin: 0;
	overflow: hidden;
}

.bf-logo a {
	display: block;
	width: 100%;
	height: 100%;
}

.bf-nav{
	/*background-color: var(--d);*/
	width: 100%;
}
ul.dws-ul{
 	display: flex;
 	padding: 0;
 	justify-content: center;
}
li.dws-li{
 	list-style: none;
 	padding: 5px;
}
li.dws-li a{
 	text-decoration: none;
 	font-size: 18px;
 	color: white;
 	position: relative;
 	padding: 5px;
}
li.dws-li a i{
 	margin-right: 10px;
}
li.dws-li a::before{
	 content: '';
	 width: 0;
	 height: 3px;
	 background-color: var(--b);
	 position: absolute;
	 top: 90%;
	 left: 0;
	 transition: .5s;
	 /*mix-blend-mode: multiply;*/
}
li.dws-li a::after{
	 content: '';
	 width: 0;
	 height: 3px;
	 background-color: var(--b);
	 position: absolute;
	 top: 90%;
	 right: 0;
	 transition: .5s;
	 /*mix-blend-mode: multiply;*/
}
/*li.dws-li:hover{
 	background-color: #e5eae8;
}*/
li.dws-li:hover a::before{
	 width: 50%;
	 transform: translateX(100%);
}
li.dws-li:hover a::after{
	 width: 50%;
	 transform: translateX(-100%);
}
li.dws-li a:hover{
 	color: #e62117;
}

.bf-contacts {
	/*background-color: yellow;*/
	float: right;
	color: white;
	/*flex-grow: 1;*/

}

/*.first-screen-partners {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
   	/*grid-template-rows: 1fr;*//*
}*/

/*.partners {
	margin: 0 auto;
}*/

/*#############################first-screen-carusel#########################*/

.first-screen-carusel {
	box-sizing: border-box;
	border: 10px solid blue;
	position: relative;
	width: 100%;
	height: 63vh;
	/*background: url(img/main1170.jpg) no-repeat*//* center center;*/
	/*background-size: cover;*/
	/*z-index: 0;*/
	background: url(img/main1170.jpg) no-repeat center center;
}

/*#############################NAPRAV#####################################*/

.naprav {
	box-sizing: border-box;
	border: 10px solid red;
	height: 26%;
	width: 100%;
	background-color: var(--r);
	position: absolute;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.nap {
	width: 100%;
	height: 100%;
	background: url(img/parusnoe210.jpg) no-repeat center center;
	opacity: 0.1
}

.nap a {
	display: block;
	width: 100%;
	height: 100%;
}

.nap:hover {
	background-color: var(--r);
	opacity: 1;
}

/*#################second-screen####################*/
.second-screen {
	width: 100%;
}

.second-screen-container {
	width: 1170px;
	height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.second-screen-about {
	background-color: grey;
	display: grid;
	grid-template-rows: 1fr 4fr;
}

.second-screen-about-colrow {
	background-color: yellow;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
   	grid-template-rows: repeat(3, 1fr);
}



/*#################second-screen-about####################*/

.second-screen-h2 {
	margin: 0 auto;
}

.about1, .about2, .about3, .about4, .about5, .about6, .about7, .about8 {
	background-image: url(img/blue-logo.jpg);
	background-repeat: no-repeat;
}

.second-screen-img {

}

.second-screen-h5 {
	position: relative;
	top: 10px;
	padding-left: 22%;
}

.second-screen-text {
	position: relative;
	top: 20px;
	padding-left: 22%;
}

/*#################second-screen-news####################*/

.second-screen-news {
	background-color: silver;
}

/*#################fird-screen###########################*/

.fird-screen {
	background-color: silver;
	width: 100%;
}

.fird-screen-container {
	width: 1170px;
	height: 95vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #90BBA2FF;
}

.fird-screen-galery {
	background-color: #FFFF91FF;
}

.fird-screen-galery-h2 {
	background-color: #9A3B3BFF;
}

.fird-screen-schedule {
	background-color: #FFADFFFF;
}

.fird-screen-schedule-h2 {
	background-color: #9A3B3BFF;
}

/*#################footer###############################*/


.footer {
	background-color: var(--d);
	width: 100%;
	height: 5vh;
}

.footer-container {
	width: 1170px;
	margin: 0 auto;
	background-color: var(--d);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.footer-container-social {
	color: white;
}

.footer-container-contacts {
	color: white;
}



.body_slides{
	width: 100%;
	height: 100%;
    list-style:none;
    /*margin:0;*/
    /*padding:0;*/
    /*z-index:0; */
    /*background:#000;*/
}
.body_slides,
.body_slides:after{
    /*position: center;*/
    width:100%;
    /*height:63vh;*/
    top:0px;
    left:0px;}
.body_slides:after { 
    content: '';
    background: transparent;}
 
 
.body_slides li{
    width:100%;
    height:63vh;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:none;
    opacity:0;
    -webkit-animation: anim_slides 24s linear infinite 0s;
    -moz-animation: anim_slides 24s linear infinite 0s;
    -o-animation: anim_slides 24s linear infinite 0s;
    -ms-animation: anim_slides 24s linear infinite 0s;
    animation: anim_slides 24s linear infinite 0s;
}
.body_slides li:nth-child(1){
background-image: url(img/main1170.jpg) 
}
.body_slides li:nth-child(2){
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
background-image: url(img/main1171.jpg) 
}
.body_slides li:nth-child(3){
-webkit-animation-delay: 12.0s;
-moz-animation-delay: 12.0s;
background-image: url(img/main1170.jpg) 
}
.body_slides li:nth-child(4){
-webkit-animation-delay: 18.0s;
-moz-animation-delay: 18.0s;
background-image: url(img/main1172.jpg) 
}
@-webkit-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
@-moz-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}


/*@media only screen and (min-width : 1920px) {
	.first-screen-container {
	width: 1170px;
	}
}

@media only screen and (min-width : 1180px) {
	.first-screen-container {
	width: 970px;
	}
}*/