:root {
	--blue: #0320D3;
	--red: #0320D3;
	--grey: #535353;
};

/*@media screen and (min-width: 1200px){
	.main-head-container {
    	width: 1170px;
	}
}*/
*{
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

.main-head {
	margin: 0 auto;
	background: var(--grey);
	width: 100%;
	/*height: 100%;*/
}

.main-head-container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}


.bf-menu {
	height: 100px;
	width: 1170px;
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
	align-items: center;
}

.bf-logo {
	
}

.bf-nav ul {
	display: flex;
	/*flex-wrap: wrap;*/

}
.bf-nav ul li {
	list-style: none;
	margin: 3% auto;

}

.bf-nav ul li a{
	text-decoration: none;
	color: white;
}
.carusel {

	width: 100%;
	height: 100%;
}