:root {
	--d: #252525;
	--w: #ffffff;
	--b: #0039a6;
	--r: #d52b1e;
};

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/

.first-screen {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: var(--d);
}

.first-screen-container {
	width: 90vw;
	margin: 0 auto;
}

.first-screen-container-logo a img {
	max-width: 90vw;
	/*max-height: ;*/
	margin: 0 auto;
}

.i-phone, .i-adress {
	color: white;
	font-size: 24px;
}

.first-screen-bf-menu {
	width: 90vw;
}

.bf-nav{
	width: 100%;
}
ul.dws-ul{
 	display: block;
 	padding: 0;
 	/*justify-content: center;*/
}
li.dws-li{
 	list-style: none;
 	padding: 0px;
}
li.dws-li a{
 	text-decoration: none;
 	font-size: 42px;
 	color: white;
 	position: relative;
 	margin-left: 100px;
}
li.dws-li a i{
 	margin-right: 30px;
}
li.dws-li a::before{
	 content: '';
	 width: 0;
	 height: 3px;
	 background-color: var(--b);
	 position: absolute;
	 top: 90%;
	 left: 0;
	 transition: .5s;
	 /*mix-blend-mode: multiply;*/
}
li.dws-li a::after{
	 content: '';
	 width: 0;
	 height: 3px;
	 background-color: var(--b);
	 position: absolute;
	 top: 90%;
	 right: 0;
	 transition: .5s;
	 /*mix-blend-mode: multiply;*/
}
/*li.dws-li:hover{
 	background-color: #e5eae8;
}*/
li.dws-li:hover a::before{
	 width: 50%;
	 transform: translateX(100%);
}
li.dws-li:hover a::after{
	 width: 50%;
	 transform: translateX(-100%);
}
li.dws-li a:hover{
 	color: var(--r);
}

.first-screen-naprav {
	width: 90vw;
}

.first-screen-naprav-spkperviy, .first-screen-naprav-vimpel, .first-screen-naprav-rudnichek {
	/*width: 100%;*/
}

/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/


.second-screen {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: var(--w);
}

.second-screen-container {
	width: 90vw;
	margin: 0 auto;
}

.second-screen-h1, .second-screen-h3 {
	text-align: center;
	margin: 25px;
	padding: 50px 0; 
}

.second-screen-about-imglogo {
	display: float;
	float: left;
	width: 128px;
	/*margin: 15px;*/
}

.about {
	margin: 20px 0;
}

/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/

.fird-screen {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: #65ADFF9F;
}

.fird-screen-container {
	width: 90vw;
	margin: 0 auto;
}

.fird-screen-news-h1, .fird-screen-news-h3 {
	text-align: center;
	margin: 25px;
	padding: 10px 0;
}

.pic {
	margin: 5px auto;
	cursor: zoom-in;
	width: 128px;
	/*height: 64px;*/
}

.pic:focus {
	pointer-events: none;
	/*cursor: zoom-out;*/
	/*visibility: hidden;*/
	position: fixed;
  	z-index: 10;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
 	width: auto;
  	height: auto;
  	max-width: 99%;
  	max-height: 99%;
  	margin: auto;
}

/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/

/*@media only screen and (min-width : 480px) {
	.first-screen-container {
	width: 420px;
	}
}*/
	
/*@media only screen and (min-width: 1px) and (max-width: 500px) {
	.first-screen-container {
	
	}

 	.first-screen-container {
	background-color: var(--d);
	}

	.bb, .cc, .dd, .ee {
		display: none;
	}
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
	.first-screen-container {
	width: 480px;
	}

	li.dws-li a{
 	text-decoration: none;
 	font-size: 14px;
 	}

 	.first-screen-container {
	background-color: #fff;
	}

	.aa, .cc, .dd, .ee {
		display: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.first-screen-container {
	width: 660px;
	}

	.bf-nav {
		display: flex;
	}

	li.dws-li a{
 	text-decoration: none;
 	font-size: 20px;
 	}

 	.first-screen-container {
	background-color: #aaa;
	}

	.aa, .bb, .dd, .ee {
		display: none;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.first-screen-container {
	width: 880px;
	}

	.bf-nav {
		display: flex;
	}

	li.dws-li a{
 	text-decoration: none;
 	font-size: 28px;
 	}

 	.first-screen-container {
	background-color: #bc5;
	}

	.aa, .bb, .cc, .ee {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.first-screen-container {
	width: 1100px;
	}

	li.dws-li a{
 	text-decoration: none;
 	font-size: 32px;
 	}

 	.first-screen-container {
	background-color: #fc5;
	}

	.aa, .bb, .cc, .dd, {
		display: none;
	}
}*/